@import 'colors-palette';

body{
  font-family:"Roboto Mono","Helvetica",sans-serif;
  background-color: color($grey,900);
  color:color($grey,50);
}

a{
  text-decoration: none;
  color: color($deep-orange,700);
}

a:hover,a:active{
  color: color($deep-orange,900);
}

.container{
  max-width:1024px;
  margin:0 auto;
}

.project, #divers{
  margin:2em 0 4em 0;
  color: color($grey,800);
  background-color: color($grey,100);
  padding:2em;
}

img{
  max-width:256px;
}
a.social{
  color: color($deep-orange,200);
}
a.social:hover,a.social:active{
  color:color($deep-orange,400);
}
