@import 'colors-palette';

body{
  font-family:"Roboto Mono","Helvetica",sans-serif;
  background-color: color($grey,900);
  color:color($grey,50);
}

a{
  text-decoration: none;
  color: color($amber,800);
}

a:hover,a:active{
  color: color($amber,600);
}

.container{
  max-width:1024px;
  margin:0 auto;
}

.card {
  margin:2em 0 4em 0;
  color: color($grey,800);
  background-color: color($grey,100);
  padding:2em;
}

img{
  max-width:256px;
}
// a.social{
//   color: color($deep-orange,400);
// }
// a.social:hover,a.social:active{
//   color:color($deep-orange,200);
// }

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
$nav-bkgd: color($grey, 100);
.nav > li {
    background-color: $nav-bkgd;
    color: color($grey, 800);
    display: inline-block;
    padding: .5em;

    &:hover {
        background-color: darken($nav-bkgd, 20%);
    }
}
