<div class="posts">
    {{#each posts}}
        <div class="post card">
            <h2>{{title}}</h2>
            <div>
                {{content}}
            </div>
        </div>
    {{else}}
        <p>No post :|</p>
    {{/each}}
</div>
